.container{
    margin-bottom: 100px;
}
.manue{
    margin-left: 15px;
}
.top-manue{
   margin-top: 30px;
}
.banner-bg{
    background-image: url(bg-1.png) , url(bg-2.png);
    background-repeat: no-repeat , no-repeat;
    background-position: center , bottom left;
    background-size: 100px 400px , 200px 200px;
    height: 550px; 
}
.buy-now{
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-weight: 700;
}
.price{
    color: rgb(248, 9, 88);
}

.phone{
    margin-bottom: 20px;
}

.card{
    border: none;
    box-shadow: 3px 3px 10px gray;
    height: 100%;
}

.bag , .beauty , .shoes{
    box-shadow: 1px 1px 5px gray;
}
.bag{
    margin-left: 90px;
}
.categories{
   border-bottom: 5px solid;
   border-image: linear-gradient(to left , rgb(224, 12, 4) ,rgb(57, 220, 242)) 1;
   width: fit-content;
}
.footer{
    background-color: hsl(188, 44%, 35%);
    color: white;
    height: 300px;
}
.form-control:hover{
    border: 7px solid rgb(1, 239, 239);
}
.card:hover{
    box-shadow: 30px 30px 50px rgb(236, 229, 229);
    transition: box-shadow 1s;
}
.contact{
    margin-bottom: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
#product{
    margin-top: 90px;
}